@charset "UTF-8";
/** CONTENT LAYOUT
Webpage layout
General styling
Specific styling per page
***/
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/***WEBPAGE LAYOUT******/
body {
  display: grid;
  grid-template-rows: 1fr 1fr auto 1fr 1fr 1fr auto;
}
body .page-1, body .page-2, body .page-3, body .page-4, body .page-5 {
  background-attachment: fixed;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
}
body .page-1 {
  background-image: url(../assets/background-img1.png);
  height: 100vh;
  width: 100vw;
}
body .page-2 {
  background-image: url(../assets/background-img2.png);
  height: 70vh;
  width: 100vw;
}
body section {
  background-color: #333333;
  height: 30vh;
  width: 100vw;
}
body .page-3 {
  background-image: url(../assets/background-img3.png);
  height: 90vh;
  width: 100vw;
}
body .page-4 {
  background-image: url(../assets/background-img4.png);
  height: 90vh;
  width: 100vw;
}
body .page-5 {
  background-image: url(../assets/background-img5.png);
  height: 90vh;
  width: 100vw;
}
body footer {
  background-color: #232323;
  height: 20vh;
  width: 100vw;
}

/**********GENERAL STYLE********************/
body {
  width: 100vw;
  height: 150vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: lighter;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: lighter;
  text-align: center;
  font-family: "Aleo", serif;
}

h4 {
  font-size: 2.25rem;
  font-weight: 400;
  text-align: center;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: white;
}

.btn {
  font-family: "Aleo", serif;
  color: white;
  font-size: minmax(2vw);
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 1.4px;
  text-align: center;
  width: 15vw;
  height: 7vh;
  background-color: #5474FD;
  border: none;
}

.btn:hover {
  cursor: pointer;
  color: black;
  background-color: #bbe4e9;
}

a {
  font-family: "Aleo", serif;
  color: white;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.6rem;
}

a:hover {
  cursor: pointer;
  color: yellow;
}

p {
  letter-spacing: 1.5px;
  font-weight: lighter;
}

.p-cap {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25;
}

.box {
  width: 24rem;
  height: 20rem;
  background-color: #232323;
  opacity: 0.8;
  line-height: 1.3rem;
  padding: 1rem;
}

.fa {
  color: white;
}

/**********SPECIFIC STYLE ************************/
.page-1 {
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/background-img1.png);
}
.page-1 .background-img1 {
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.page-1 .background-img1 img {
  display: block;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.content-wrapper .content-text1 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.scroll a {
  cursor: pointer;
}

.form-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: minmax(40rem, auto);
  height: 3.3rem;
  background-color: white;
  flex-wrap: wrap;
}
.form-box input {
  margin-left: 0.5rem;
  width: 34vw;
  height: 6vh;
  background-color: white;
  text-align: center;
  border: none;
  font-size: 0.8rem;
}
.form-box input input:hover {
  background-color: #bbe4e9;
  cursor: pointer;
}

.fa-magnifying-glass {
  color: white;
  font-size: 2rem;
}

.navbar {
  background-color: #5474FD;
  width: 100vw;
  height: 10vh;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  display: flex;
  position: relative;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 2.4px;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.navbar .navbar-links {
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar .navbar-links a {
  padding: 1rem;
  color: white;
}
.navbar .navbar-links li a:hover {
  background-color: #bbe4e9;
  color: blue;
}
.navbar .navbar-links .navitem {
  color: white;
}

ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  text-transform: uppercase;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/********STYLE PER PAGE***********/
.page-2 {
  display: flex;
  justify-content: center;
}
.page-2 .page2-wrapper {
  width: 70vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: stretch;
  padding: 2rem;
  gap: 1rem;
}
.page-2 .page2-wrapper .page2-text {
  flex-grow: 2;
  background: transparent;
}
.page-2 .page2-wrapper .page2-text h2 {
  text-align: start;
}
.page-2 .page2-wrapper .page2-img-container {
  flex-grow: 1;
}
.page-2 .page2-wrapper .page2-img-container .page2-img2 {
  text-align: right;
}
.page-2 .page2-wrapper .explore-btn {
  text-transform: uppercase;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .icons-wrapper-page-2 {
  height: 80%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}
section .icons-wrapper-page-2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .icons-wrapper-page-2 img {
  width: auto;
  height: 4vw;
}
section .icons-wrapper-page-2 h2 {
  font-size: 3vw;
}
section .shape-container {
  height: 25%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  margin-right: 2.8rem;
}
section .shape-container img {
  width: 50%;
  height: auto;
}

.page-3-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-content: center;
  align-items: center;
  padding-top: 3rem;
}

.page-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.page-4 .page-4-wrapper {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-5 .review {
  display: flex;
  justify-content: center;
}
.page-5 img {
  width: 100%;
  height: 100%;
}
.page-5 .fa-quote-left {
  color: blue;
  font-size: 2rem;
}
.page-5 .page5-box {
  background: transparent;
}

/**********MEDIA QUERY***************/
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .toggle-button {
    display: flex;
  }
  .navbar .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar .navbar-links ul li {
    text-align: center;
  }
  .navbar .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-links.active {
    display: flex;
  }
}
@media (max-width: 800px) {
  .page-2 {
    padding: 0;
  }
  .page-2 h2 {
    font-size: 3vw;
  }
  .page-2 p {
    font-size: 3vw;
  }
  .page-2 .page2-text {
    padding: 0;
    margin: 0;
    width: 100%;
    line-height: 1.2rem;
  }
  .page-2 .page2-wrapper {
    padding: 0;
    margin: 0;
  }
  .page-2 .explore-btn {
    font-size: 2vw;
  }
}
@media (max-width: 800px) {
  .page-3-wrapper {
    justify-content: center;
    margin: auto;
  }
}
@media (max-width: 800px) {
  .page-4-wrapper {
    justify-content: center;
    margin: auto;
  }
}
@media (max-width: 800px) {
  .page5-img {
    background: transparent;
  }
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer .logo {
  margin-top: 2rem;
}
footer ul {
  display: flex;
  gap: 2rem;
}
footer .fa-linkedin {
  color: blue;
}
footer .fa {
  font-size: 1.2rem;
}
footer .fa:hover {
  color: seagreen;
}/*# sourceMappingURL=index.css.map */